<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "E:\mybatis-3-mapper .dtd" >
<mapper namespace="dz.ibnrochd.master14.mapper.PatientMapper" >
    <resultMap id="ResultMap" type="dz.ibnrochd.master14.model.Patient" >
        <id column="id" property="id"  />
        <result column="nom" property="nom" />
        <result property="prenom" column="prenom"/>
        <result property="sexe" column="sexe"/>
        <result property="dateNaissance" column="date_naissance"/>
        <result property="numeroTelephone" column="numero_telephone"/>
        <result property="adresse" column="adresse"/>
    
    </resultMap>
 
    <select id="TousPatients" resultMap="ResultMap">
        SELECT * FROM cabinet.patient
    </select>
    
    <select id="FindByNom" resultMap="ResultMap">
    	SELECT * FROM cabinet.patient WHERE nom = #{nom}
	</select>
	
	<insert id="NouveauPatient" parameterType="dz.ibnrochd.master14.model.Patient" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cabinet.patient (nom, prenom, sexe, date_naissance, numero_telephone, adresse) 
        VALUES (#{nom}, #{prenom}, #{sexe}, #{dateNaissance}, #{numeroTelephone}, #{adresse})
    </insert>
 
    
</mapper>

